In [0]:
# Spark initialising

from pyspark import SparkContext

from pyspark.sql import SparkSession

sc=SparkContext.getOrCreate()

spark=SparkSession.builder.appName('coding challenge').getOrCreate()

In [0]:
# Loading data
loans_df = spark.read.csv("/FileStore/tables/loan.csv", header=True, inferSchema=True)

# Display the schema
loans_df.printSchema()

# Shows the first few rows of the data
loans_df.show(5)

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Family Size: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Expenditure: integer (nullable = true)
 |-- Use Frequency: integer (nullable = true)
 |-- Loan Category: string (nullable = true)
 |-- Loan Amount: string (nullable = true)
 |-- Overdue: integer (nullable = true)
 |--  Debt Record: string (nullable = true)
 |--  Returned Cheque: integer (nullable = true)
 |--  Dishonour of Bill: integer (nullable = true)

+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|  Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|    IB14001| 30|  MALE|BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|      HOUSING| 10,00,000 |      5|      42,898|               6|                 9|
|    IB14008| 44|  MALE|   PROFESSOR|       MARRIED|          6| 51000|      19999|            4|     SHOPPING|     50,000|      3|      33,999|               1|                 5|
|    IB14012| 30|FEMALE|     DENTIST|        SINGLE|          3| 58450|      27675|            5|   TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14018| 29|  MALE|     TEACHER|       MARRIED|          5| 45767|      12787|            3|    GOLD LOAN|  6,00,000 |      7|      11,000|               0|                 4|
|    IB14022| 34|  MALE|      POLICE|        SINGLE|          4| 43521|      11999|            3|   AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
only showing top 5 rows

Filter

In [0]:
from pyspark.sql.functions import col, avg, sum, count

# Filter customers who have overdue loans
overdue_loans = loans_df.filter(col("Overdue") == "1")

# Display the overdue loans
print("Customers with overdue loans:")
overdue_loans.show()

Customers with overdue loans:
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|         Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|    IB14024| 55|FEMALE|              NURSE|       MARRIED|          6| 34999|      19888|            4|   AUTOMOBILE|     47,787|      1|      50,000|               0|                 3|
|    IB14037| 54|FEMALE|            TEACHER|       MARRIED|          5| 48099|      19999|            4|  RESTAURANTS|     30,999|      1|      12,000|               7|                 5|
|    IB14045| 31|  MALE|       STORE KEEPER|        SINGLE|          5| 40999|      11999|            3|  BOOK STORES|  1,67,654 |      1|       4,500|               0|                 1|
|    IB14078| 45|FEMALE|    FIRE DEPARTMENT|       MARRIED|          4| 40000|      18888|            4|   AUTOMOBILE|     70,000|      1|           0|               2|                 1|
|    IB14104| 54|  MALE|    AIRPORT OFFICER|       MARRIED|          6| 80000|      32541|            2|   AUTOMOBILE| 20,45,789 |      1|      16,599|               2|                 3|
|    IB14158| 54|  MALE|    AIRPORT OFFICER|       MARRIED|          6| 80000|      62541|            2|   AUTOMOBILE| 20,45,789 |      1|      16,599|               2|                 3|
|    IB14176| 54|  MALE|    AIRPORT OFFICER|       MARRIED|          6| 80000|      62541|            2|      HOUSING| 20,45,789 |      1|      16,599|               2|                 3|
|    IB14194| 55|FEMALE|              NURSE|       MARRIED|          6| 34999|      19888|            4|   TRAVELLING|     47,787|      1|      50,000|               0|                 3|
|    IB14197| 54|FEMALE|            TEACHER|       MARRIED|          5| 48099|      19999|            4|  RESTAURANTS|    300,999|      1|      12,000|               7|                 5|
|    IB14204| 54|  MALE|    AIRPORT OFFICER|       MARRIED|          6| 81000|      62541|            2|      DINNING| 20,45,789 |      1|      16,599|               2|                 3|
|    IB14213| 31|  MALE|       STORE KEEPER|        SINGLE|          5| 40999|      11999|            3|   AUTOMOBILE|  1,67,654 |      1|       4,500|               0|                 1|
|    IB14221| 31|  MALE|       STORE KEEPER|        SINGLE|          5| 40999|      11999|            3|  BOOK STORES|  1,67,654 |      1|       4,500|               0|                 1|
|    IB14227| 54|  MALE|    AIRPORT OFFICER|       MARRIED|          6| 80000|      62541|            2|      HOUSING| 20,45,789 |      1|      16,599|               2|                 3|
|    IB14235| 54|FEMALE|            TEACHER|       MARRIED|          5| 48099|      19999|            4|  RESTAURANTS|     30,999|      1|      12,000|               7|                 5|
|    IB14242| 55|FEMALE|              NURSE|       MARRIED|          6| 34999|      19888|            4|     SHOPPING|     47,787|      1|      50,000|               0|                 3|
|    IB14245| 54|FEMALE|            TEACHER|       MARRIED|          5| 48099|      19999|            4|  RESTAURANTS|     30,999|      1|      12,000|               7|                 5|
|    IB14253| 54|  MALE|    AIRPORT OFFICER|       MARRIED|          6| 80000|      42541|            2|      HOUSING| 20,45,789 |      1|      16,599|               2|                 3|
|    IB14261| 55|FEMALE|              NURSE|       MARRIED|          6| 34999|      19888|            4|     SHOPPING|     47,787|      1|      50,000|               0|                 3|
|    IB14265| 54|FEMALE|            TEACHER|       MARRIED|          5| 48099|      19999|            4|  RESTAURANTS|     30,999|      1|      12,000|               7|                 5|
|    IB14267| 55|FEMALE|ASSISTANT PROFESSOR|       MARRIED|          6| 34999|      19888|            4|     SHOPPING|     47,787|      1|      50,000|               0|                 3|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
only showing top 20 rows

In [0]:
loans_df = spark.read.csv("/FileStore/tables/loan.csv", header=True, inferSchema=True)

# Register the DataFrame as a temporary SQL view
loans_df.createOrReplaceTempView("loans")

In [0]:
%sql
-- Filter customers who have overdue loans
SELECT *
FROM loans
WHERE Overdue = '1'

Customer_ID,Age,Gender,Occupation,Marital Status,Family Size,Income,Expenditure,Use Frequency,Loan Category,Loan Amount,Overdue,Debt Record,Returned Cheque,Dishonour of Bill
IB14024,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,AUTOMOBILE,"47,787",1,"50,000",0,3
IB14037,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"30,999",1,"12,000",7,5
IB14045,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,BOOK STORES,"1,67,654",1,"4,500",0,1
IB14078,45,FEMALE,FIRE DEPARTMENT,MARRIED,4,40000,18888,4,AUTOMOBILE,"70,000",1,0,2,1
IB14104,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,32541,2,AUTOMOBILE,"20,45,789",1,"16,599",2,3
IB14158,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,AUTOMOBILE,"20,45,789",1,"16,599",2,3
IB14176,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,HOUSING,"20,45,789",1,"16,599",2,3
IB14194,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,TRAVELLING,"47,787",1,"50,000",0,3
IB14197,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"300,999",1,"12,000",7,5
IB14204,54,MALE,AIRPORT OFFICER,MARRIED,6,81000,62541,2,DINNING,"20,45,789",1,"16,599",2,3
IB14213,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,AUTOMOBILE,"1,67,654",1,"4,500",0,1
IB14221,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,BOOK STORES,"1,67,654",1,"4,500",0,1
IB14227,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,HOUSING,"20,45,789",1,"16,599",2,3
IB14235,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"30,999",1,"12,000",7,5
IB14242,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,SHOPPING,"47,787",1,"50,000",0,3
IB14245,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"30,999",1,"12,000",7,5
IB14253,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,42541,2,HOUSING,"20,45,789",1,"16,599",2,3
IB14261,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,SHOPPING,"47,787",1,"50,000",0,3
IB14265,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"30,999",1,"12,000",7,5
IB14267,55,FEMALE,ASSISTANT PROFESSOR,MARRIED,6,34999,19888,4,SHOPPING,"47,787",1,"50,000",0,3
IB14270,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,RESTAURANTS,"30,999",1,"12,000",7,5
IB14287,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,BOOK STORES,"1,67,654",1,"4,500",0,1
IB14289,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,HOUSING,"4,77,870",1,"50,000",0,3
IB14293,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,TRAVELLING,"30,999",1,"12,000",7,5
IB14299,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,39541,2,HOUSING,"20,45,789",1,"16,599",2,3
IB14339,50,MALE,STORE KEEPER,MARRIED,6,35918,19202,5,SHOPPING,"612,770",1,31774,9,4
IB14369,37,FEMALE,DOCTOR,MARRIED,5,57453,null,6,TRAVELLING,"462,585",1,72488,9,8
IB14373,31,MALE,CLERK,MARRIED,4,32714,23632,6,GOLD LOAN,"914,249",1,36394,0,0
IB14377,54,MALE,FIRE DEPARTMENT,MARRIED,2,80000,25318,8,SHOPPING,"660,937",1,28195,7,6
IB14383,56,MALE,PRODUCT ENGINEER,MARRIED,5,44130,27092,8,SHOPPING,"426,730",1,76010,9,0
IB14384,25,MALE,TEACHER,MARRIED,7,64528,21231,5,TRAVELLING,"506,450",1,64918,5,3
IB14400,35,MALE,DENTIST,MARRIED,5,36742,18767,8,COMPUTER SOFTWARES,"594,320",1,31082,8,8
IB14413,36,MALE,SYSTEM MANAGER,MARRIED,5,69163,29339,4,HOME APPLIANCES,"740,836",1,67935,6,5
IB14418,40,FEMALE,TEACHER,MARRIED,6,77627,null,8,TRAVELLING,"800,400",1,19990,4,0
IB14430,39,FEMALE,NURSE,MARRIED,5,43323,27877,8,TRAVELLING,"841,365",1,56142,5,4
IB14483,39,MALE,TEACHER,MARRIED,7,30801,23025,5,AUTOMOBILE,"745,310",1,60509,9,4
IB14486,51,FEMALE,BANK MANAGER,MARRIED,6,57697,15734,5,HOME APPLIANCES,"653,065",1,16304,6,7
IB14510,24,MALE,AIRPORT OFFICER,SINGLE,4,67445,23826,8,HOME APPLIANCES,"515,970",1,79454,6,2
IB14519,54,FEMALE,TEACHER,MARRIED,6,45916,17535,5,COMPUTER SOFTWARES,"738,313",1,86160,7,9
IB14533,55,FEMALE,TEACHER,MARRIED,3,34275,29967,7,BOOK STORES,"1,021,994",1,39955,1,9
IB14574,36,FEMALE,DOCTOR,MARRIED,3,66820,22222,6,BUSINESS,"752,716",1,44979,4,4
IB14601,44,MALE,POLICE,SINGLE,5,71214,12463,8,RESTAURANTS,"910,960",1,70423,2,8
IB14615,59,MALE,DENTIST,MARRIED,5,81507,25958,3,AGRICULTURE,"831,263",1,63833,8,7
IB14623,39,MALE,DATA ENGINEER,SINGLE,2,74264,37747,5,RESTAURANTS,"321,040",1,55582,1,9
IB14667,30,MALE,AGRICULTURAL ENGINEER,SINGLE,6,85289,49481,3,HOUSING,"679,588",1,21091,3,3
IB14686,59,MALE,BUSINESS,MARRIED,6,37585,36062,4,GOLD LOAN,"1,672,628",1,13765,9,0
IB14736,38,FEMALE,ACCOUNTANT,SINGLE,5,75290,35549,9,HOUSING,"1,522,824",1,71187,7,2
IB14741,34,FEMALE,CLERK,SINGLE,6,47550,25286,6,HOUSING,"696,818",1,49464,0,4
IB14795,54,FEMALE,TEACHER,SINGLE,7,53832,18748,4,GOLD LOAN,"1,503,911",1,50787,9,1
IB14799,52,FEMALE,NAVY,MARRIED,4,80188,28352,3,GOLD LOAN,"959,366",1,20815,2,0
IB14809,28,FEMALE,ACCOUNTANT,SINGLE,3,76844,27358,7,RESTAURANT,"1,582,924",1,73033,2,1
IB14817,38,FEMALE,EXECUTIVE,MARRIED,5,78167,33036,4,BUSINESS,"1,447,560",1,20435,7,5
IB14839,54,FEMALE,TECHNICIAN,SINGLE,5,34721,14789,2,TRAVELLING,"332,838",1,67426,0,3
IB14883,59,MALE,AGRICULTURAL ENGINEER,SINGLE,5,72052,45311,4,HOME APPLIANCES,"576,136",1,75822,1,6
IB14892,42,MALE,TECHNICIAN,MARRIED,6,80241,41526,8,AUTOMOBILE,"1,599,511",1,87885,0,6
IB14900,35,MALE,TEACHER,MARRIED,5,null,26535,3,HOUSING,"626,586",1,56137,3,3
IB14958,39,MALE,TEACHER,MARRIED,7,40801,26025,5,AUTOMOBILE,"745,310",1,50509,9,4
IB14960,51,FEMALE,BANK MANAGER,MARRIED,6,58697,35734,5,HOME APPLIANCES,"853,065",1,16304,6,7
IB14982,36,FEMALE,DOCTOR,MARRIED,3,76820,27222,6,BUSINESS,"652,716",1,44979,4,4
IB15048,55,FEMALE,NURSE,MARRIED,6,38999,24888,4,SHOPPING,"47,787",1,"50,000",0,3
IB15055,54,FEMALE,TEACHER,MARRIED,5,50099,29999,4,RESTAURANTS,"30,999",1,"12,000",7,5
IB15057,55,FEMALE,ASSISTANT PROFESSOR,MARRIED,6,54999,25888,4,SHOPPING,"47,787",1,"50,000",0,3
IB15062,54,FEMALE,TEACHER,MARRIED,5,45099,21999,4,RESTAURANTS,"30,999",1,"12,000",7,5

Filter with Multiple Conditions

In [0]:
# Filter for single customers with income > 5000
single_high_income_customers = loans_df.filter(
    (col("Marital Status") == "SINGLE") & (col("Income") > 5000)
)

# Display the result
print("Single customers with high income:")
single_high_income_customers.show()

Single customers with high income:
+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|       Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|    IB14001| 30|  MALE|     BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|      HOUSING| 10,00,000 |      5|      42,898|               6|                 9|
|    IB14012| 30|FEMALE|          DENTIST|        SINGLE|          3| 58450|      27675|            5|   TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14022| 34|  MALE|           POLICE|        SINGLE|          4| 43521|      11999|            3|   AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
|    IB14029| 24|FEMALE|          TEACHER|        SINGLE|          3| 45008|      17454|            4|   AUTOMOBILE|  3,99,435 |      9|      51,987|               4|                 7|
|    IB14032| 24|  MALE|     DATA ANALYST|        SINGLE|          4| 60111|      28999|            6|   AUTOMOBILE|     35,232|      5|      33,333|               1|                 2|
|    IB14042| 25|FEMALE|           DOCTOR|        SINGLE|          4| 60111|      27111|            5|   TRAVELLING| 12,90,929 |      4|      18,000|               1|                 0|
|    IB14045| 31|  MALE|     STORE KEEPER|        SINGLE|          5| 40999|      11999|            3|  BOOK STORES|  1,67,654 |      1|       4,500|               0|                 1|
|    IB14057| 25|  MALE|  AIRPORT OFFICER|        SINGLE|          4| 40000|      18888|            3|  RESTAURANTS|  4,00,000 |      8|      11,111|               1|                 7|
|    IB14079| 25|  MALE|            CLERK|        SINGLE|          3| 35000|       9000|            2|    GOLD LOAN|  1,00,000 |      3|      12,584|               1|                 2|
|    IB14089| 25|  MALE|        PROFESSOR|        SINGLE|          5| 62145|      31254|            4|  BOOK STORES| 12,45,789 |      6|      48,596|               6|                 5|
|    1B14093| 21|FEMALE|          MANAGER|        SINGLE|          3| 42516|      24567|            7|   AUTOMOBILE| 25,69,874 |      8|      89,652|               2|                 3|
|    IB14138| 27|FEMALE|SOFTWARE ENGINEER|        SINGLE|          4| 40000|      22000|            4|    GOLD LOAN|  4,00,000 |      4|      15,647|               5|                 3|
|    IBI4155| 24|FEMALE|SOFTWARE ENGINEER|        SINGLE|          4| 55680|      29000|            5|   AUTOMOBILE|  7,89,000 |      5|      24,000|               6|                 4|
|    IB14179| 24|FEMALE|          TEACHER|        SINGLE|          3| 45008|      17454|            4|   AUTOMOBILE|  3,99,435 |      9|      51,987|               4|                 7|
|    IB14184| 24|  MALE|     DATA ANALYST|        SINGLE|          4| 60111|      28999|            6|  RESTAURANTS|     35,232|      5|      33,333|               1|                 2|
|    IB14187| 30|FEMALE|          DENTIST|        SINGLE|          3| 58450|      27675|            5|   TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14191| 34|  MALE|           POLICE|        SINGLE|          4| 44521|      11999|            3|   AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
|    IB14213| 31|  MALE|     STORE KEEPER|        SINGLE|          5| 40999|      11999|            3|   AUTOMOBILE|  1,67,654 |      1|       4,500|               0|                 1|
|    IB14216| 24|  MALE|     DATA ANALYST|        SINGLE|          4| 60111|      28999|            6|  RESTAURANTS|     35,232|      5|      33,333|               1|                 2|
|    IB14220| 30|FEMALE|          DENTIST|        SINGLE|          3| 58450|      27675|            5|   TRAVELLING|     75,000|      6|      20,876|               3|                 1|
+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
only showing top 20 rows

In [0]:
%sql
SELECT *
FROM loans
WHERE `Marital Status` = 'SINGLE' AND Income > 5000

Customer_ID,Age,Gender,Occupation,Marital Status,Family Size,Income,Expenditure,Use Frequency,Loan Category,Loan Amount,Overdue,Debt Record,Returned Cheque,Dishonour of Bill
IB14001,30,MALE,BANK MANAGER,SINGLE,4,50000,22199,6,HOUSING,"10,00,000",5,"42,898",6,9
IB14012,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,"75,000",6,"20,876",3,1
IB14022,34,MALE,POLICE,SINGLE,4,43521,11999,3,AUTOMOBILE,"2,00,000",2,"43,898",1,2
IB14029,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,"3,99,435",9,"51,987",4,7
IB14032,24,MALE,DATA ANALYST,SINGLE,4,60111,28999,6,AUTOMOBILE,"35,232",5,"33,333",1,2
IB14042,25,FEMALE,DOCTOR,SINGLE,4,60111,27111,5,TRAVELLING,"12,90,929",4,"18,000",1,0
IB14045,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,BOOK STORES,"1,67,654",1,"4,500",0,1
IB14057,25,MALE,AIRPORT OFFICER,SINGLE,4,40000,18888,3,RESTAURANTS,"4,00,000",8,"11,111",1,7
IB14079,25,MALE,CLERK,SINGLE,3,35000,9000,2,GOLD LOAN,"1,00,000",3,"12,584",1,2
IB14089,25,MALE,PROFESSOR,SINGLE,5,62145,31254,4,BOOK STORES,"12,45,789",6,"48,596",6,5
1B14093,21,FEMALE,MANAGER,SINGLE,3,42516,24567,7,AUTOMOBILE,"25,69,874",8,"89,652",2,3
IB14138,27,FEMALE,SOFTWARE ENGINEER,SINGLE,4,40000,22000,4,GOLD LOAN,"4,00,000",4,"15,647",5,3
IBI4155,24,FEMALE,SOFTWARE ENGINEER,SINGLE,4,55680,29000,5,AUTOMOBILE,"7,89,000",5,"24,000",6,4
IB14179,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,"3,99,435",9,"51,987",4,7
IB14184,24,MALE,DATA ANALYST,SINGLE,4,60111,28999,6,RESTAURANTS,"35,232",5,"33,333",1,2
IB14187,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,"75,000",6,"20,876",3,1
IB14191,34,MALE,POLICE,SINGLE,4,44521,11999,3,AUTOMOBILE,"2,00,000",2,"43,898",1,2
IB14213,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,AUTOMOBILE,"1,67,654",1,"4,500",0,1
IB14216,24,MALE,DATA ANALYST,SINGLE,4,60111,28999,6,RESTAURANTS,"35,232",5,"33,333",1,2
IB14220,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,"75,000",6,"20,876",3,1
IB14221,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,BOOK STORES,"1,67,654",1,"4,500",0,1
IB14231,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,"3,99,435",9,"51,987",4,7
IB14240,34,MALE,POLICE,SINGLE,4,43521,11999,3,AUTOMOBILE,"2,00,000",2,"43,898",1,2
IB14260,34,MALE,POLICE,SINGLE,4,43521,11999,3,AUTOMOBILE,"2,00,000",2,"43,898",1,2
IB14287,31,MALE,STORE KEEPER,SINGLE,5,40999,11999,3,BOOK STORES,"1,67,654",1,"4,500",0,1
IBI4294,24,FEMALE,SOFTWARE ENGINEER,SINGLE,4,49680,25000,5,GOLD LOAN,"7,89,000",5,"24,000",6,4
IB14309,25,MALE,PROFESSOR,SINGLE,5,62145,31254,4,AUTOMOBILE,"12,45,789",6,"48,596",6,5
1B14312,21,FEMALE,MANAGER,SINGLE,3,42516,24567,7,EDUCATIONAL LOAN,"25,69,874",8,"89,652",2,3
IB14317,26,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,"3,99,435",9,"51,987",4,7
IB14326,37,MALE,DOCTOR,SINGLE,2,56856,23678,7,TRAVELLING,"588,690",8,87171,4,3
IB14395,36,FEMALE,TEACHER,SINGLE,7,43518,null,8,TRAVELLING,"681,886",9,56090,0,0
IB14436,24,FEMALE,SYSTEM MANAGER,SINGLE,4,38401,27512,7,RESTAURANTS,"744,697",4,42166,4,2
IB14440,24,MALE,SOFTWARE ENGINEER,SINGLE,2,31107,21316,7,GOLD LOAN,"1,216,788",6,76049,1,5
IB14466,24,MALE,PUBLIC WORKS,SINGLE,3,45228,27839,7,SHOPPING,"439,976",8,57559,1,7
IB14470,29,MALE,NURSE,SINGLE,6,51199,15753,5,COMPUTER SOFTWARES,"331,716",3,57156,3,0
IB14476,29,MALE,SOFTWARE ENGINEER,SINGLE,5,30454,22210,4,SHOPPING,"763,036",6,37762,7,9
IB14489,24,MALE,TEACHER,SINGLE,5,74609,20444,4,RESTAURANTS,"507,036",2,51858,0,3
IB14491,24,MALE,TEACHER,SINGLE,2,77923,null,5,TRAVELLING,"625,226",5,34121,2,8
IB14510,24,MALE,AIRPORT OFFICER,SINGLE,4,67445,23826,8,HOME APPLIANCES,"515,970",1,79454,6,2
IB14563,42,FEMALE,NAVY,SINGLE,3,86184,47555,3,AUTOMOBILE,"1,668,435",5,54235,6,1
IB14581,41,MALE,FARMER,SINGLE,5,76294,45744,8,BUILDING,"318,598",9,23866,8,9
IB14585,52,FEMALE,PILOT,SINGLE,7,91853,39629,4,RESTAURANT,"1,392,577",6,85269,4,8
IB14589,56,MALE,FARMER,SINGLE,3,51162,12591,9,AGRICULTURE,"104,758",3,75535,2,1
IB14590,58,MALE,DRIVER,SINGLE,5,45457,25922,6,GOLD LOAN,"905,203",4,30211,1,6
IB14593,40,MALE,DENTIST,SINGLE,7,49744,23564,5,COMPUTER SOFTWARES,"207,979",4,36588,3,2
IB14594,32,FEMALE,NAVY,SINGLE,7,78777,34159,7,AUTOMOBILE,"622,414",6,37436,2,9
IB14601,44,MALE,POLICE,SINGLE,5,71214,12463,8,RESTAURANTS,"910,960",1,70423,2,8
IB14602,39,FEMALE,BANK MANAGER,SINGLE,6,55639,23775,9,HOUSING,"284,938",9,80269,3,8
IB14604,52,MALE,ACCOUNTANT,SINGLE,7,46086,27201,9,AGRICULTURE,"1,682,942",7,29654,5,8
IB14611,49,MALE,AGRICULTURAL ENGINEER,SINGLE,7,81960,14724,4,BUSINESS,"649,933",8,20801,9,3
IB14617,39,FEMALE,PILOT,SINGLE,2,84553,36744,3,GOLD LOAN,"870,287",4,34551,5,0
IB14619,43,MALE,TEACHER,SINGLE,4,35020,26286,8,SHOPPING,"162,449",9,22862,3,3
IB14623,39,MALE,DATA ENGINEER,SINGLE,2,74264,37747,5,RESTAURANTS,"321,040",1,55582,1,9
IB14629,47,FEMALE,DOCTOR,SINGLE,2,86072,22248,2,GOLD LOAN,"1,044,964",4,63105,7,2
IB14635,51,MALE,TEACHER,SINGLE,3,69961,27078,8,AUTOMOBILE,"208,327",7,13594,1,9
IB14637,45,FEMALE,FARMER,SINGLE,5,62304,34392,5,RESTAURANT,"549,605",9,12990,8,1
IB14645,28,MALE,DIETICIAN,SINGLE,3,90863,16863,5,BUSINESS,"1,118,207",3,32059,2,4
IB14655,52,FEMALE,BANK MANAGER,SINGLE,3,68918,30676,5,AUTOMOBILE,"1,265,945",5,16997,5,4
IB14657,44,FEMALE,NAVY,SINGLE,2,86269,25280,8,GOLD LOAN,"964,109",4,80308,0,7
IB14659,33,FEMALE,DRIVER,SINGLE,6,48332,20763,8,RESTAURANT,"899,714",7,66030,7,3
IB14667,30,MALE,AGRICULTURAL ENGINEER,SINGLE,6,85289,49481,3,HOUSING,"679,588",1,21091,3,3
IB14685,26,MALE,BANK MANAGER,SINGLE,5,29565,19490,9,HOUSING,"1,767,908",9,72653,4,6
IB14691,43,FEMALE,POLICE,SINGLE,5,38501,48744,5,GOLD LOAN,"1,460,365",2,55397,9,0
IB14693,27,MALE,DOCTOR,SINGLE,7,28366,29258,2,GOLD LOAN,"1,659,986",9,20611,5,5
IB14697,39,FEMALE,NAVY,SINGLE,4,77699,12482,3,AUTOMOBILE,"1,410,206",9,57206,2,8
IB14699,45,FEMALE,SOFTWARE ENGINEER,SINGLE,4,98199,43464,9,ELECTRONICS,"1,719,010",3,86384,4,8
IB14702,59,FEMALE,NAVY,SINGLE,2,71171,26078,5,RESTAURANT,"456,808",6,58510,8,7
IB14704,48,MALE,EXECUTIVE,SINGLE,2,57460,48959,2,BUSINESS,"1,073,372",5,72858,1,5
IB14706,30,FEMALE,TEACHER,SINGLE,5,51564,20097,2,AUTOMOBILE,"722,907",2,56157,2,7
IB14714,43,FEMALE,SOFTWARE ENGINEER,SINGLE,5,86970,30379,2,GOLD LOAN,"1,090,886",9,13994,5,7
IB14716,26,MALE,DIETICIAN,SINGLE,3,92425,43086,2,RESTAURANTS,"488,076",4,61227,5,2
IB14718,47,MALE,DOCTOR,SINGLE,4,77580,null,3,SHOPPING,"339,171",9,84824,8,9
IB14719,42,FEMALE,PILOT,SINGLE,4,75993,22164,5,DINNING,"340,060",3,17476,4,7
IB14721,30,MALE,PILOT,SINGLE,2,76333,37037,3,BUSINESS,"1,042,400",2,34044,3,1
IB14727,53,FEMALE,DATA ENGINEER,SINGLE,2,84862,12102,4,RESTAURANT,"233,604",9,46408,4,2
IB14729,58,MALE,CHARTERED APPRAISER,SINGLE,5,70952,15709,9,RESTAURANT,"204,833",5,20711,5,4
IB14731,45,MALE,BUSINESS,SINGLE,7,34444,45690,8,SHOPPING,"380,248",5,15020,2,4
IB14736,38,FEMALE,ACCOUNTANT,SINGLE,5,75290,35549,9,HOUSING,"1,522,824",1,71187,7,2
IB14737,54,FEMALE,POLICE,SINGLE,6,62641,36687,4,HOUSING,"898,353",2,26901,1,3
IB14740,52,FEMALE,CHARTERED APPRAISER,SINGLE,6,65023,49118,7,RESTAURANTS,"1,670,805",7,45808,9,2
IB14741,34,FEMALE,CLERK,SINGLE,6,47550,25286,6,HOUSING,"696,818",1,49464,0,4
IB14751,27,FEMALE,DIETICIAN,SINGLE,2,84112,17725,7,BUSINESS,"312,602",6,44634,5,6
IB14753,59,FEMALE,CHARTERED APPRAISER,SINGLE,5,74179,31530,7,BUSINESS,"1,428,709",4,66854,2,6
IB14758,41,MALE,TEACHER,SINGLE,2,46182,33404,9,RESTAURANTS,"1,337,967",4,75552,2,9
IB14761,26,FEMALE,BUSINESS,SINGLE,6,74775,27970,8,HOUSING,"879,114",2,47103,2,5
IB14765,34,MALE,ARMY,SINGLE,6,72271,32082,4,HOUSING,"625,194",7,19300,2,7
IB14766,27,FEMALE,EXECUTIVE,SINGLE,5,78975,49225,2,BUSINESS,"479,113",6,64563,1,5
IB14771,44,FEMALE,POLICE,SINGLE,4,80769,41529,3,AGRICULTURE,"1,458,057",3,74975,5,1
IB14773,45,FEMALE,DENTIST,SINGLE,4,46196,26603,9,COMPUTER SOFTWARES,"841,132",7,60537,1,6
IB14778,43,FEMALE,DATA ENGINEER,SINGLE,6,42827,36410,5,RESTAURANT,"125,982",2,75739,8,6
IB14781,51,FEMALE,TEACHER,SINGLE,2,77986,47143,3,BUSINESS,"903,614",6,55757,0,4
IB14785,47,FEMALE,DRIVER,SINGLE,5,38687,17562,8,HOUSING,"180,826",5,81601,6,1
IB14789,25,MALE,DRIVER,SINGLE,7,84394,48705,3,AUTOMOBILE,"878,858",6,43350,8,4
IB14794,32,FEMALE,CHARTERED APPRAISER,SINGLE,2,88323,40734,5,DINNING,"1,193,808",5,23946,2,2
IB14795,54,FEMALE,TEACHER,SINGLE,7,53832,18748,4,GOLD LOAN,"1,503,911",1,50787,9,1
IB14797,26,MALE,ACCOUNTANT,SINGLE,7,43350,31632,5,AUTOMOBILE,"1,630,901",4,79235,9,6
IB14800,30,FEMALE,TEACHER,SINGLE,4,49370,21720,4,SHOPPING,"140,556",9,40378,7,7
IB14804,30,MALE,BUSINESS,SINGLE,2,53957,34709,7,GOLD LOAN,"1,765,055",8,37815,5,8
IB14806,48,MALE,ARMY,SINGLE,6,67129,16487,3,BUSINESS,"167,995",9,37222,4,6
IB14809,28,FEMALE,ACCOUNTANT,SINGLE,3,76844,27358,7,RESTAURANT,"1,582,924",1,73033,2,1
IB14820,42,MALE,DRIVER,SINGLE,2,47217,16575,3,GOLD LOAN,"1,773,297",4,40373,8,1
IB14825,31,MALE,TECHNICIAN,SINGLE,5,79363,18706,9,BUSINESS,"442,793",4,18431,9,5
IB14827,37,MALE,BANK MANAGER,SINGLE,2,35735,47037,9,RESTAURANT,"312,839",8,31432,3,7
IB14829,48,MALE,DRIVER,SINGLE,4,61021,16440,7,RESTAURANTS,"1,470,269",8,59449,3,8
IB14831,30,FEMALE,NAVY,SINGLE,6,51862,21101,5,HOUSING,"745,152",5,57851,6,8
IB14837,38,MALE,DRIVER,SINGLE,7,45362,35895,9,HOUSING,"1,216,455",7,83458,3,7
IB14839,54,FEMALE,TECHNICIAN,SINGLE,5,34721,14789,2,TRAVELLING,"332,838",1,67426,0,3
IB14843,43,MALE,DOCTOR,SINGLE,4,50407,34413,4,AGRICULTURE,"1,143,937",9,57977,9,1
IB14853,31,FEMALE,TEACHER,SINGLE,3,51227,17187,2,GOLD LOAN,"314,714",5,63843,7,3
IB14855,53,FEMALE,SOFTWARE ENGINEER,SINGLE,4,81210,21027,7,RESTAURANT,"740,375",7,35419,2,4
IB14857,32,FEMALE,DIETICIAN,SINGLE,3,40060,23989,6,GOLD LOAN,"400,085",6,41436,4,9
IB14867,46,FEMALE,CHARTERED APPRAISER,SINGLE,2,91088,42256,5,EDUCATIONAL LOAN,"347,254",9,37966,1,5
IB14869,44,MALE,CLERK,SINGLE,5,51555,12052,2,EDUCATIONAL LOAN,"1,377,455",8,29981,1,8
IB14873,42,FEMALE,PILOT,SINGLE,4,83053,22355,5,BOOK STORES,"323,075",6,84997,4,4
IB14878,33,FEMALE,CHARTERED APPRAISER,SINGLE,4,58661,42768,4,GOLD LOAN,"1,290,966",9,72021,3,9
IB14883,59,MALE,AGRICULTURAL ENGINEER,SINGLE,5,72052,45311,4,HOME APPLIANCES,"576,136",1,75822,1,6
IB14886,42,FEMALE,BANK MANAGER,SINGLE,7,85632,37935,5,EDUCATIONAL LOAN,"688,435",3,74874,7,7
IB14889,41,FEMALE,DIETICIAN,SINGLE,3,96501,41529,6,GOLD LOAN,"1,694,354",3,35876,2,8
IB14898,51,FEMALE,SOFTWARE ENGINEER,SINGLE,3,84966,42591,5,TRAVELLING,"1,179,496",4,58257,0,9
IB14903,42,FEMALE,TECHNICIAN,SINGLE,3,42304,21760,9,BUSINESS,"1,630,952",6,21031,7,2
IB14907,42,FEMALE,DIETICIAN,SINGLE,7,51301,30975,5,RESTAURANT,"677,291",8,25850,8,5
IB14909,57,FEMALE,POLICE,SINGLE,3,44945,25513,8,GOLD LOAN,"453,196",2,54235,3,2
IB14911,24,FEMALE,SOFTWARE ENGINEER,SINGLE,5,56000,22376,5,SHOPPING,"206,750",4,23450,5,3
IB14933,43,MALE,DOCTOR,SINGLE,4,55407,24413,4,HOUSING,"1,042,737",9,57977,9,1
IB14943,31,FEMALE,TEACHER,SINGLE,3,41227,19187,2,HOUSING,"414,714",5,53843,7,3
IB14947,32,FEMALE,DIETICIAN,SINGLE,3,50060,28989,6,HOUSING,"600,085",6,45436,4,9
IB14953,29,MALE,SOFTWARE ENGINEER,SINGLE,5,50454,32210,4,SHOPPING,"763,036",6,36762,7,9
IB14973,42,FEMALE,NAVY,SINGLE,3,76184,37555,3,AUTOMOBILE,"868,435",5,34235,6,1
IB14987,41,MALE,FARMER,SINGLE,5,78294,40744,8,BUILDING,"418,598",9,23866,8,9
IB14991,52,MALE,PILOT,SINGLE,7,95853,49629,4,HOUSING,"1,392,577",6,25269,4,8
IB14996,27,MALE,DOCTOR,SINGLE,7,68366,30258,2,TRAVELLING,"1,059,986",9,20611,5,5
IB15001,39,FEMALE,NAVY,SINGLE,4,79699,32482,3,AUTOMOBILE,"810,206",9,57206,2,8
IB15004,45,FEMALE,SOFTWARE ENGINEER,SINGLE,4,68199,33464,9,ELECTRONICS,"719,010",3,46384,4,8
IB15007,59,FEMALE,NAVY,SINGLE,2,75171,36078,5,RESTAURANT,"556,808",6,58510,8,7
IB15009,48,MALE,EXECUTIVE,SINGLE,2,67460,45959,2,BUSINESS,"1,173,372",5,62858,1,5
IB15011,30,FEMALE,TEACHER,SINGLE,5,55564,28097,2,AUTOMOBILE,"822,907",2,56157,2,7
IB15021,43,FEMALE,SOFTWARE ENGINEER,SINGLE,5,76970,35379,2,GOLD LOAN,"1,090,886",9,13994,5,7
IB15024,26,MALE,DIETICIAN,SINGLE,3,95425,53086,2,HOUSING,"488,076",4,61227,5,2
IB15027,47,MALE,DOCTOR,SINGLE,4,79580,null,3,SHOPPING,"339,171",9,84824,8,9
IB15031,30,MALE,PILOT,SINGLE,2,86333,47037,3,BUSINESS,"1,042,400",2,34044,3,1
IB15045,34,MALE,POLICE,SINGLE,4,45521,null,3,AUTOMOBILE,"2,00,000",2,"43,898",1,2
IB15095,53,FEMALE,SOFTWARE ENGINEER,SINGLE,4,75210,26027,7,HOUSING,"740,375",7,35419,2,4
IB15097,32,FEMALE,DIETICIAN,SINGLE,3,45060,24989,6,TRAVELLING,"400,085",6,41436,4,9

GroupBy and Count

In [0]:
# Count customers by Occupation
customer_count_by_occupation = loans_df.groupBy("Occupation").count()

# Display the result
print("Number of customers by occupation:")
customer_count_by_occupation.show()

Number of customers by occupation:
+--------------------+-----+
|          Occupation|count|
+--------------------+-----+
|      CIVIL ENGINEER|    6|
|     FIRE DEPARTMENT|   12|
|          ACCOUNTANT|    7|
|        BANK MANAGER|   28|
|      SYSTEM OFFICER|    4|
|           NUTRITION|    1|
|           DIETICIAN|   13|
|               CLERK|   26|
|   SOFTWARE ENGINEER|   35|
|AGRICULTURAL ENGI...|    8|
|   ASSISTANT MANAGER|    6|
|             TEACHER|   63|
| ASSISTANT PROFESSOR|    9|
|     SYSTEM ENGINEER|    3|
| CHARTERED APPRAISER|   11|
|                NAVY|   16|
|              POLICE|   18|
|            BUSINESS|   16|
|              FARMER|    7|
|              DRIVER|   18|
+--------------------+-----+
only showing top 20 rows

In [0]:
%sql
SELECT Occupation, COUNT(*) AS Customer_Count
FROM loans
GROUP BY Occupation

Occupation,Customer_Count
CIVIL ENGINEER,6
FIRE DEPARTMENT,12
ACCOUNTANT,7
BANK MANAGER,28
SYSTEM OFFICER,4
NUTRITION,1
DIETICIAN,13
CLERK,26
SOFTWARE ENGINEER,35
AGRICULTURAL ENGINEER,8
ASSISTANT MANAGER,6
TEACHER,63
ASSISTANT PROFESSOR,9
SYSTEM ENGINEER,3
CHARTERED APPRAISER,11
NAVY,16
POLICE,18
BUSINESS,16
FARMER,7
DRIVER,18
ELECTRICIAN,8
DATA ENGINEER,7
EXECUTIVE,7
DENTIST,10
SYSTEM MANAGER,10
PUBLIC WORKS,6
TECHNICIAN,12
ARMY,5
AIRPORT OFFICER,15
PILOT,15
MANAGER,2
ACCOUNT MANAGER,11
STORE KEEPER,5
DOCTOR,29
PRODUCT ENGINEER,21
CORPORATE OFFICER,3
PROFESSOR,8
NURSE,11
DATA ANALYST,8

Aggregation

In [0]:
# Total loan amount and average income grouped by marital status
loan_income_stats = loans_df.groupBy("Marital Status").agg(
    sum("Loan Amount").alias("Total_Loan_Amount"),
    avg("Income").alias("Average Income")
)

# Display the result
print("Loan and income statistics by marital status:")
loan_income_stats.show()

Loan and income statistics by marital status:
+--------------+-----------------+-----------------+
|Marital Status|Total_Loan_Amount|   Average Income|
+--------------+-----------------+-----------------+
|        SINGLE|             null|61234.74825174825|
|       MARRIED|             null|71465.57846153846|
+--------------+-----------------+-----------------+

In [0]:
%sql
SELECT 'Marital Status', 
       SUM('Loan Amount') AS Total_Loan_Amount, 
       AVG(Income) AS Average_Income
FROM loans
GROUP BY 'Marital Status'

Marital Status,Total_Loan_Amount,Average_Income
Marital Status,null,68339.49145299145

join

In [0]:
# Load another dataset
credit_df = spark.read.csv("/FileStore/tables/credit_card.csv", header=True, inferSchema=True)

# Inner join on CustomerId and Customer_ID
inner_join_df = credit_df.join(loans_df, credit_df.CustomerId == loans_df.Customer_ID, how="inner")

# Display 10 rows from the inner join
print("Inner Join Result:")
inner_join_df.show(10)

Inner Join Result:
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+--------------+---------------+------+-----------+---+------+----------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|RowNumber|CustomerId|Surname|CreditScore|Geography|Gender|Age|Tenure|Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|Customer_ID|Age|Gender|Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+--------------+---------------+------+-----------+---+------+----------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+--------------+---------------+------+-----------+---+------+----------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+

In [0]:
# Register credit_df as a temporary view
credit_df.createOrReplaceTempView("credit")

In [0]:
%sql
SELECT *
FROM credit c
INNER JOIN loans l
ON c.CustomerId = l.Customer_ID
LIMIT 10

In [0]:
# Outer join on CustomerId and Customer_ID
outer_join_df = credit_df.join(loans_df, credit_df.CustomerId == loans_df.Customer_ID, how="outer")

# Display 10 rows from the outer join
print("Outer Join Result:")
outer_join_df.show(10)

Outer Join Result:
+---------+----------+-------+-----------+---------+------+----+------+-------+-------------+--------------+---------------+------+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|RowNumber|CustomerId|Surname|CreditScore|Geography|Gender| Age|Tenure|Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|Customer_ID|Age|Gender|       Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+---------+----------+-------+-----------+---------+------+----+------+-------+-------------+--------------+---------------+------+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14001| 30|  MALE|     BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|      HOUSING| 10,00,000 |      5|      42,898|               6|                 9|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14008| 44|  MALE|        PROFESSOR|       MARRIED|          6| 51000|      19999|            4|     SHOPPING|     50,000|      3|      33,999|               1|                 5|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14012| 30|FEMALE|          DENTIST|        SINGLE|          3| 58450|      27675|            5|   TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14018| 29|  MALE|          TEACHER|       MARRIED|          5| 45767|      12787|            3|    GOLD LOAN|  6,00,000 |      7|      11,000|               0|                 4|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14022| 34|  MALE|           POLICE|        SINGLE|          4| 43521|      11999|            3|   AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14024| 55|FEMALE|            NURSE|       MARRIED|          6| 34999|      19888|            4|   AUTOMOBILE|     47,787|      1|      50,000|               0|                 3|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14025| 39|FEMALE|          TEACHER|       MARRIED|          6| 46619|      18675|            4|      HOUSING| 12,09,867 |      8|      29,999|               6|                 8|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14027| 51|  MALE|   SYSTEM MANAGER|       MARRIED|          3| 49999|      19111|            5|  RESTAURANTS|     60,676|      8|      13,000|               2|                 5|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14029| 24|FEMALE|          TEACHER|        SINGLE|          3| 45008|      17454|            4|   AUTOMOBILE|  3,99,435 |      9|      51,987|               4|                 7|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14031| 37|FEMALE|SOFTWARE ENGINEER|       MARRIED|          5| 55999|      23999|            5|   AUTOMOBILE|     60,999|      2|           0|               5|                 3|
+---------+----------+-------+-----------+---------+------+----+------+-------+-------------+--------------+---------------+------+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
only showing top 10 rows

In [0]:
%sql
SELECT *
FROM credit c
FULL OUTER JOIN loans l
ON c.CustomerId = l.Customer_ID
LIMIT 10

RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,IsActiveMember,EstimatedSalary,Exited,Customer_ID,Age,Gender,Occupation,Marital Status,Family Size,Income,Expenditure,Use Frequency,Loan Category,Loan Amount,Overdue,Debt Record,Returned Cheque,Dishonour of Bill
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14001,30,MALE,BANK MANAGER,SINGLE,4,50000,22199,6,HOUSING,"10,00,000",5,"42,898",6,9
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14008,44,MALE,PROFESSOR,MARRIED,6,51000,19999,4,SHOPPING,"50,000",3,"33,999",1,5
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14012,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,"75,000",6,"20,876",3,1
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14018,29,MALE,TEACHER,MARRIED,5,45767,12787,3,GOLD LOAN,"6,00,000",7,"11,000",0,4
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14022,34,MALE,POLICE,SINGLE,4,43521,11999,3,AUTOMOBILE,"2,00,000",2,"43,898",1,2
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14024,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,AUTOMOBILE,"47,787",1,"50,000",0,3
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14025,39,FEMALE,TEACHER,MARRIED,6,46619,18675,4,HOUSING,"12,09,867",8,"29,999",6,8
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14027,51,MALE,SYSTEM MANAGER,MARRIED,3,49999,19111,5,RESTAURANTS,"60,676",8,"13,000",2,5
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14029,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,"3,99,435",9,"51,987",4,7
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14031,37,FEMALE,SOFTWARE ENGINEER,MARRIED,5,55999,23999,5,AUTOMOBILE,"60,999",2,0,5,3

In [0]:
# Left join on CustomerId and Customer_ID
left_join_df = credit_df.join(loans_df, credit_df.CustomerId == loans_df.Customer_ID, how="left")

# Display 10 rows from the left join
print("Left Join Result:")
left_join_df.show(10)

Left Join Result:
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+-----------+----+------+----------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|Customer_ID| Age|Gender|Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+-----------+----+------+----------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|       null|null|  null|      null|          null|       null|  null|       null|         null|         null|       null|   null|        null|            null|              null|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|       null|null|  null|      null|          null|       null|  null|       null|         null|         null|       null|   null|        null|            null|              null|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|       null|null|  null|      null|          null|       null|  null|       null|         null|         null|       null|   null|        null|            null|              null|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|       null|null|  null|      null|          null|       null|  null|       null|         null|         null|       null|   null|        null|            null|              null|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|       null|null|  null|      null|          null|       null|  null|       null|         null|         null|       null|   null|        null|            null|              null|
|        6|  15574012|     Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|       null|null|  null|      null|          null|       null|  null|       null|         null|         null|       null|   null|        null|            null|              null|
|        7|  15592531|Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|             1|        10062.8|     0|       null|null|  null|      null|          null|       null|  null|       null|         null|         null|       null|   null|        null|            null|              null|
|        8|  15656148|  Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|       null|null|  null|      null|          null|       null|  null|       null|         null|         null|       null|   null|        null|            null|              null|
|        9|  15792365|      He|        501|   France|  Male| 44|     4|142051.07|            2|             1|        74940.5|     0|       null|null|  null|      null|          null|       null|  null|       null|         null|         null|       null|   null|        null|            null|              null|
|       10|  15592389|      H?|        684|   France|  Male| 27|     2|134603.88|            1|             1|       71725.73|     0|       null|null|  null|      null|          null|       null|  null|       null|         null|         null|       null|   null|        null|            null|              null|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+-----------+----+------+----------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
only showing top 10 rows

In [0]:
%sql
SELECT *
FROM credit c
LEFT JOIN loans l
ON c.CustomerId = l.Customer_ID
LIMIT 10

RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,IsActiveMember,EstimatedSalary,Exited,Customer_ID,Age,Gender,Occupation,Marital Status,Family Size,Income,Expenditure,Use Frequency,Loan Category,Loan Amount,Overdue,Debt Record,Returned Cheque,Dishonour of Bill
1,15634602,Hargrave,619,France,Female,42,2,0.0,1,1,101348.88,1,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null
2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,1,112542.58,0,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null
3,15619304,Onio,502,France,Female,42,8,159660.8,3,0,113931.57,1,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null
4,15701354,Boni,699,France,Female,39,1,0.0,2,0,93826.63,0,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null
5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,79084.1,0,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null
6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,0,149756.71,1,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null
7,15592531,Bartlett,822,France,Male,50,7,0.0,2,1,10062.8,0,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null
8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,0,119346.88,1,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null
9,15792365,He,501,France,Male,44,4,142051.07,2,1,74940.5,0,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null
10,15592389,H?,684,France,Male,27,2,134603.88,1,1,71725.73,0,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null

In [0]:
# Right join on CustomerId and Customer_ID
right_join_df = credit_df.join(loans_df, credit_df.CustomerId == loans_df.Customer_ID, how="right")

# Display 10 rows from the right join
print("Right Join Result:")
right_join_df.show(10)

Right Join Result:
+---------+----------+-------+-----------+---------+------+----+------+-------+-------------+--------------+---------------+------+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|RowNumber|CustomerId|Surname|CreditScore|Geography|Gender| Age|Tenure|Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|Customer_ID|Age|Gender|       Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+---------+----------+-------+-----------+---------+------+----+------+-------+-------------+--------------+---------------+------+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14001| 30|  MALE|     BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|      HOUSING| 10,00,000 |      5|      42,898|               6|                 9|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14008| 44|  MALE|        PROFESSOR|       MARRIED|          6| 51000|      19999|            4|     SHOPPING|     50,000|      3|      33,999|               1|                 5|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14012| 30|FEMALE|          DENTIST|        SINGLE|          3| 58450|      27675|            5|   TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14018| 29|  MALE|          TEACHER|       MARRIED|          5| 45767|      12787|            3|    GOLD LOAN|  6,00,000 |      7|      11,000|               0|                 4|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14022| 34|  MALE|           POLICE|        SINGLE|          4| 43521|      11999|            3|   AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14024| 55|FEMALE|            NURSE|       MARRIED|          6| 34999|      19888|            4|   AUTOMOBILE|     47,787|      1|      50,000|               0|                 3|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14025| 39|FEMALE|          TEACHER|       MARRIED|          6| 46619|      18675|            4|      HOUSING| 12,09,867 |      8|      29,999|               6|                 8|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14027| 51|  MALE|   SYSTEM MANAGER|       MARRIED|          3| 49999|      19111|            5|  RESTAURANTS|     60,676|      8|      13,000|               2|                 5|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14029| 24|FEMALE|          TEACHER|        SINGLE|          3| 45008|      17454|            4|   AUTOMOBILE|  3,99,435 |      9|      51,987|               4|                 7|
|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|    IB14031| 37|FEMALE|SOFTWARE ENGINEER|       MARRIED|          5| 55999|      23999|            5|   AUTOMOBILE|     60,999|      2|           0|               5|                 3|
+---------+----------+-------+-----------+---------+------+----+------+-------+-------------+--------------+---------------+------+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
only showing top 10 rows

In [0]:
%sql
SELECT *
FROM credit c
RIGHT JOIN loans l
ON c.CustomerId = l.Customer_ID
LIMIT 10

RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,IsActiveMember,EstimatedSalary,Exited,Customer_ID,Age,Gender,Occupation,Marital Status,Family Size,Income,Expenditure,Use Frequency,Loan Category,Loan Amount,Overdue,Debt Record,Returned Cheque,Dishonour of Bill
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14001,30,MALE,BANK MANAGER,SINGLE,4,50000,22199,6,HOUSING,"10,00,000",5,"42,898",6,9
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14008,44,MALE,PROFESSOR,MARRIED,6,51000,19999,4,SHOPPING,"50,000",3,"33,999",1,5
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14012,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,TRAVELLING,"75,000",6,"20,876",3,1
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14018,29,MALE,TEACHER,MARRIED,5,45767,12787,3,GOLD LOAN,"6,00,000",7,"11,000",0,4
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14022,34,MALE,POLICE,SINGLE,4,43521,11999,3,AUTOMOBILE,"2,00,000",2,"43,898",1,2
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14024,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,AUTOMOBILE,"47,787",1,"50,000",0,3
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14025,39,FEMALE,TEACHER,MARRIED,6,46619,18675,4,HOUSING,"12,09,867",8,"29,999",6,8
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14027,51,MALE,SYSTEM MANAGER,MARRIED,3,49999,19111,5,RESTAURANTS,"60,676",8,"13,000",2,5
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14029,24,FEMALE,TEACHER,SINGLE,3,45008,17454,4,AUTOMOBILE,"3,99,435",9,"51,987",4,7
null,null,null,null,null,null,null,null,null,null,null,null,null,IB14031,37,FEMALE,SOFTWARE ENGINEER,MARRIED,5,55999,23999,5,AUTOMOBILE,"60,999",2,0,5,3